<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">

  <p>Olá, {{name}}</p>
  <p>Parece que você atualizou seus dados da conta na plataforma do GoFinances.</p>

  <p>
    Obrigado!
    <br />
    <strong>Equipe GoFinances</strong>
  </p>

</div>
